@use 'variables' as *;

.footer-player {
  position: fixed;
  bottom: $space-sm;
  right: $space-sm;
  left: $space-sm;
  border-radius: $radius-lg;
  background-color: $color-secondary;
  padding: $space-lg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-lg;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  z-index: 49;
  overflow: hidden;

  &--playing {
    transform: translateY(0);
    opacity: 1;
  }

  &--paused {
    .footer-player__time {
      opacity: .7;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
    flex: 1;
  }

  &__title {
    font-weight: $font-weight-medium;
  }

  &__title, &__description {
    white-space: nowrap;
    overflow: hidden;
  }

  &__description {
    font-size: $font-size-sm;
    color: $text-color-secondary;
  }

  &__time {
    color: $text-color-secondary;
  }

  &__actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    gap: $space-md;
    background: $color-secondary;
    z-index: 2;
    height: 100%;
    padding-right: $space-lg;
    right: 0;
    
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      background: linear-gradient(to right, transparent 50%, $color-secondary);
      width: $space-3xl;
      left: -$space-3xl;
      z-index: 3;
    }

    .icon {
      min-width: 20px;
    }
  }
}