@use 'variables' as *;

.input {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  &__label {
    color: $text-color-tertiary;
    font-size: $font-size-sm;
  }

  input, textarea {
    color: $text-color;
    outline: unset;
    border: unset;
    font-size: $font-size-base;
    background-color: unset;
    line-height: $space-xl;
    height: auto;
    resize: none;
  }
  
  &--xl {
    input {
      color: $text-color;
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
    }
  }
}