@use 'variables' as *;

.input {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  position: relative;

  &__label {
    color: $text-color-tertiary;
    font-size: $font-size-sm;
  }

  input, textarea {
    color: $text-color-secondary;
    outline: unset;
    border: unset;
    font-size: $font-size-base;
    background-color: unset;
    line-height: $space-xl;
    height: auto;
    resize: none;
    position: relative;
  }
  
  &--xl {
    input {
      color: $text-color;
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
    }
  }

  &__popover {
    position: absolute;
    background: #212023;
    width: 100%;
    top: calc(100% + $space-sm);
    z-index: 100;
    list-style-type: none;
    padding: $space-sm;
    border-radius: $radius-md;
  }

  &__popover-option {
    padding: $space-sm;
    cursor: pointer;
    border-radius: $space-xs;

   &:hover {
    background: rgba(255,255,255, .06);
   }
  }

  &__tag-section {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }
}


.selected {
  color: $color-primary;
}