@use 'variables' as *;


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-sheet {
  width: 100%;
  background: $background-color;
  // background-color: $color-secondary;
  border-top-left-radius: $space-xl;
  border-top-right-radius: $space-xl;
  max-height:82vh;
  height:82vh;
  overflow: auto;
  transition: transform 0.3s ease;
  will-change: transform;
}

.sheet-content {
  padding: $space-lg;
  padding-bottom: calc($space-3xl + $space-3xl);
  max-height: 82vh;
  overflow-y: auto;

  &__closer {
    background: rgba(255,255,255,.3);
    height: 4px;
    width: $space-3xl;
    margin: 0 auto;
    margin-bottom: $space-lg;
    border-radius: 2px;
  }
}

/* Animations */
.modal-slide-enter-active,
.modal-slide-leave-active {
  transition: all 0.3s ease;
}

.modal-slide-enter-from {
  transform: translateY(100%);
}

.modal-slide-leave-to {
  transform: translateY(100%);
}