@use 'variables' as *;

.quest-sticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-sm;

  &--isRunning {
    .quest-sticker__content {
      color: $color-primary ;
    }
    .quest-sticker__circle {
      border: 1px solid $color-primary;
    }
  }
  
  &--isFinished {
    .quest-sticker__content {
      text-decoration: line-through;
      color: $color-success;
    }
    .quest-sticker__circle {
      background-color: $color-success;
      border: 1px solid $color-success;
    }
  }

  &__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex: 1;
    color: $text-color-secondary;
    align-items: center;
    gap: $space-md;
  }

  &__circle {
    border-radius: $radius-full;
    border: 1px solid rgba(255,255,255,.1);
    background-color: rgba(255,255,255,.08);
    width: calc($space-xl + $space-xs);
    height: calc($space-xl + $space-xs);
    min-width:calc($space-xl + $space-xs);
    transition: border .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__xp {
    color: $color-success;
  }
} 