@use 'variables' as *;

.quest-sticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-sm;

  &--isRunning {
    .quest-sticker__content {
      color: $color-primary ;
    }
  }

  &__content {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex: 1;
    color: $text-color-secondary;
  }
} 